---
title: Welcome to Frontend 101
---

%section#intro
  .content
    %h1 Welcome to Frontend 101!

%section.section--bottom-divider
  .row
    .column.column--1-of-2
      %h2 Presentations:
      %ol.no-list-type
        - data.weeks.each do |week|
          - if week.visible
            %li
              %a( href="presentation/#{week.slug}/" ) #{week.title} - #{week.focus}

    .column.column--1-of-2
      %h2 Homeworks:
      %ol.no-list-type
        - data.homework.each do |homework|
          - if homework.visible
            %li
              %a( href="homework/#{homework.slug}/" ) #{homework.title}

%section
  .row
    .column.column--1-1
      %h2 Resources:
      %ul.no-list-type
        - data.resources.each do |resource|
          %li
            %a( href="#{resource.link}" target="_blank" ) #{resource.title}
